
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/VMDeploy.Orchestrator/.vs/*
library/VMDeploy.Orchestrator/VMDeploy.Orchestrator/bin/*
library/VMDeploy.Orchestrator/VMDeploy.Orchestrator/obj/*

# ignore PowerShell Studio MetaData
VMDeploy.Orchestrator/VMDeploy.Orchestrator.psproj
VMDeploy.Orchestrator/VMDeploy.Orchestrator.psproj.bak
VMDeploy.Orchestrator/VMDeploy.Orchestrator.psprojs
VMDeploy.Orchestrator/VMDeploy.Orchestrator.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*